body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff5b56;
}
*, *:after, *:before {
    box-sizing: border-box;
}
.wm {
    width: 45vh;
    height: 45vh;
    border-radius: 50%;
    border: 0.9vh solid transparent;
    border-right-color: #35ca2f;
    border-bottom-color: #35ca2f;
    margin-top: -6.9230769231vh;
    margin-left: -6.9230769231vh;
    position: relative;
}
.wm:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    border: 2.25vh solid transparent;
    border-right-color: #fff;
    border-bottom-color: #fff;
}
.wmStone {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    right: 0;
    transform: rotate(-45deg);
    transform-origin: 50% 0%;
    z-index: -1;
}
.wmStone__item {
    width: 3%;
    height: 10%;
    background: #121212;
    border-radius: 100%;
    position: absolute;
}
.wmStone__item:nth-child(1) {
    top: 34%;
    left: 30%;
    transform: rotate(14deg);
}
.wmStone__item:nth-child(2) {
    top: 5%;
    left: 20%;
    transform: rotate(28deg);
}
.wmStone__item:nth-child(3) {
    top: 33%;
    left: 50%;
    transform: rotate(6deg);
}
.wmStone__item:nth-child(4) {
    top: 5%;
    left: 40%;
    transform: rotate(5deg);
}
.wmStone__item:nth-child(5) {
    top: 33%;
    left: 70%;
    transform: rotate(12deg);
}
.wmStone__item:nth-child(6) {
    top: 6%;
    left: 60%;
    transform: rotate(1deg);
}
.wmStone__item:nth-child(7) {
    left: 60%;
    top: 55%;
    transform: rotate(17deg);
}
.wmStone__item:nth-child(8) {
    top: 5%;
    left: 80%;
    transform: rotate(6deg);
}
.wmStone__item:nth-child(9) {
    left: 40.5%;
    top: 55%;
    transform: rotate(24deg);
}
